.hero-section {
   /* background-image: url('your-image-url.jpg');  Add your image URL here */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000000;
    text-align: center;
}
.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh; /* Adjust height as necessary */
}

.hero-image {
    flex: 1; /* Ensures it takes up half the space */
    /* Example: background-image: url('path-to-your-image.jpg'); */
    background-size: cover;
    background-position: center;
}

.hero-section {
    flex: 1; /* Ensures it takes up the other half */
    padding: 20px; /* Adjust padding as necessary */
    /* Additional styling for your text and button here */
}
.hero-section h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero-section p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.hero-btn {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.hero-btn:hover {
    background-color: #555;
}
